*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("/img/background.jpg") no-repeat center;
  background-size: cover;
  height: 600px;
  min-height: 300px;
  position: relative;
}
.header .wrap {
  background-color: #202020;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
}

.main__nav {
  position: relative;
  display: flex;
  width: 60%;
  height: 10vh;
  justify-content: space-between;
}
.main__nav .logo__item {
  display: flex;
  align-items: center;
  margin: 0;
  color: #717171;
  font-size: 25px;
}
.main__nav .contacts__item {
  display: flex;
  height: 30%;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}
.main__nav .contacts__item .tel {
  margin-top: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
}
.main__nav .contacts__item a {
  margin-top: 2px;
  color: #D91233;
  font-weight: 700;
  font-size: 12px;
}

.main__header {
  position: relative;
  display: flex;
  width: 60%;
  height: 15%;
  flex-direction: column;
  align-items: center;
}
.main__header h1 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}
.main__header p {
  font-size: 20px;
}

.offers {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 50%;
  height: 20%;
}
.offers .off__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.offers .off__item p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.applies {
  position: relative;
  display: flex;
  width: 60%;
  height: 15%;
  width: 40%;
  align-items: center;
  justify-content: space-around;
  height: 20%;
}
.applies .quick {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.applies .quick button {
  background-color: transparent;
  border: 2px solid #D91233;
  padding: 8px 30px;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
}
.applies .quick p {
  font-size: 12px;
}
.applies .deep {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.applies .deep button {
  background-color: transparent;
  border: 2px solid #D91233;
  padding: 8px 30px;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
}
.applies .deep p {
  font-size: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 300px;
}
.main .about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main .about .first__disc {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-top: 60px;
}
.main .about .first__disc .fisrt__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main .about .first__disc .fisrt__item h4 {
  font-size: 12px;
}
.main .about .first__disc .fisrt__item p {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  font-size: 12px;
  margin: 0;
}
.main .about .sec__disc {
  display: flex;
  width: 38%;
  justify-content: space-between;
  margin-top: 70px;
}
.main .about .sec__disc .sec__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main .about .sec__disc .sec__item h4 {
  font-size: 12px;
}
.main .about .sec__disc .sec__item p {
  font-size: 12px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .about .sec__disc .sec__item .empty {
  font-size: 12px;
  visibility: hidden;
}

.ex__apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-color: #EBEBEB;
  margin-top: 50px;
}
.ex__apply .text__apply {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ex__apply .text__apply h2 {
  margin: 0;
  font-size: 30px;
}
.ex__apply .text__apply p {
  font-weight: 500;
  font-size: 14px;
}
.ex__apply .form__container {
  display: flex;
  width: 75%;
  margin-top: -150px;
}
.ex__apply form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 5px solid #ffffff;
  height: 400px;
  width: 100%;
}
.ex__apply form .items__container {
  height: 100%;
  align-items: center;
}
.ex__apply form .form__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  width: 75%;
  margin-left: 50px;
}
.ex__apply form .form__item strong {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.ex__apply form .form__item select {
  position: relative;
  margin-top: 10px;
  height: 45px;
  color: #C2C2C2;
  width: 100%;
  outline: none;
  appearance: none;
  border: none;
}
.ex__apply form .form__item input {
  height: 45px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  border: none;
}
.ex__apply form .form__item input::-webkit-input-placeholder {
  color: #C2C2C2;
  padding: 5px;
}
.ex__apply form .form__item .details {
  width: 100%;
  resize: none;
  height: 159px;
  margin-top: 11px;
  outline: none;
  border: none;
}
.ex__apply form .form__item .details::-webkit-input-placeholder {
  color: #C2C2C2;
  padding: 5px;
  font-size: 14px;
}
.ex__apply form .form__item .details::-moz-input-placeholder {
  color: #C2C2C2;
  padding: 5px;
  font-size: 16px;
}
.ex__apply form .form__item .submit {
  height: 60px;
  margin-top: 13px;
  background-color: #D91233;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.auto__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  min-height: 1100px;
}
.auto__container .auto__text {
  margin-top: 45px;
}
.auto__container .auto__text h2 {
  font-size: 30px;
  margin: 0;
}
.auto__container .auto__marks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  height: 350px;
}
.auto__container .video__about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 500px;
  margin-bottom: 45px;
}
.auto__container .video__about .video__text h2 {
  font-size: 25px;
}
.auto__container .video__about .container {
  margin-top: 20px;
  height: 450px;
  width: 85%;
  border: 5px solid #F2F2F2;
}
.auto__container .video__about .container .video {
  background-color: #3B3B3B;
  height: 93%;
  width: 96%;
  margin: 15px auto;
}

.clients__about {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #EBEBEB;
  height: 100vh;
  min-height: 580px;
  width: 100%;
}
.clients__about .clients__text {
  margin-top: 40px;
  font-size: 23px;
}
.clients__about .clients__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 66%;
  height: 10vh;
  min-height: 340px;
  margin-bottom: 80px;
}
.clients__about .clients__list .client__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.clients__about .clients__list .client__container .client {
  display: flex;
  font-size: 12px;
}
.clients__about .clients__list .client__container .client .img__container img {
  margin-top: 15px;
  width: 90%;
  height: 55%;
}
.clients__about .clients__list .client__container .client .text__container .full__name {
  color: #757575;
  font-size: 11px;
  font-weight: 700;
}
.clients__about .clients__list .client__container .client .text__container .problem {
  color: #D91233;
  font-weight: 800;
}
.clients__about .clients__list .client__container .client .text__container .descrp {
  color: #2B2B2B;
  font-weight: 700;
}

.consultation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  min-height: 600px;
  background-color: #DBDBDB;
}
.consultation .consult__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.consultation .consult__text h2 {
  margin: 0;
  font-size: 30px;
}
.consultation .consult__text p {
  font-weight: 500;
}
.consultation .order__consult {
  width: 60%;
  margin-bottom: 50px;
}
.consultation form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  border: 5px solid #ffffff;
}
.consultation form .inputs {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 45px;
}
.consultation form .inputs .inputs__item {
  width: 46%;
}
.consultation form .inputs .inputs__item strong {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}
.consultation form .inputs .inputs__item .input {
  height: 45px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  border: none;
}
.consultation form .inputs .inputs__item .input::-webkit-input-placeholder {
  color: #C2C2C2;
  padding: 5px;
}
.consultation form .submit {
  width: 45%;
  height: 60px;
  margin-top: 13px;
  background-color: #D91233;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  margin-bottom: 50px;
}

.contacts__container {
  background: url("/img/map.png") no-repeat center;
  height: 10vh;
  min-height: 550px;
  background-size: cover;
}
.contacts__container .contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #D91233;
  width: 35%;
  height: 300px;
  margin: 50px auto;
}
.contacts__container .contacts h2 {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  margin-top: 50px;
}
.contacts__container .contacts .contacts__item {
  color: #ffffff;
  font-size: 20px;
}
.contacts__container .contacts #non_under {
  text-decoration: none;
}
.contacts__container .contacts #last {
  margin-bottom: 50px;
}

.footer {
  height: 10vh;
  min-height: 100px;
}
.footer .main__nav {
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 60%;
  height: 10vh;
  justify-content: space-between;
}
.footer .main__nav .logo__item {
  display: flex;
  align-items: center;
  margin: 0;
  color: #717171;
  font-size: 25px;
}
.footer .main__nav .contacts__item {
  display: flex;
  height: 30%;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}
.footer .main__nav .contacts__item .tel {
  margin-top: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  font-weight: 600;
}
.footer .main__nav .contacts__item a {
  margin-top: 2px;
  color: #D91233;
  font-weight: 700;
  font-size: 12px;
}

@media (max-width: 767px) {
  .main__nav .logo__item {
    display: flex;
    align-items: center;
    margin: 0;
    color: #717171;
    font-size: 20px;
  }
  .main__nav .contacts__item .tel {
    margin-top: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
  }
  .main__nav .contacts__item a {
    margin-top: 2px;
    color: #D91233;
    font-weight: 700;
    font-size: 11px;
  }

  .main__header h1 {
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .main__header p {
    font-size: 15px;
  }

  .offers {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 50%;
    height: 20%;
    flex: 0 0 20%;
  }
  .offers .off__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 5%;
  }
  .offers .off__item p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .applies {
    justify-content: space-around;
    height: 30%;
    flex-direction: column;
  }
  .applies .quick button {
    background-color: transparent;
    border: 1px solid #D91233;
    padding: 5px 15px;
    border-radius: 100px;
    color: #ffffff;
    font-size: 12px;
  }
  .applies .quick p {
    font-size: 10px;
  }
  .applies .deep button {
    background-color: transparent;
    border: 1px solid #D91233;
    padding: 5px 15px;
    border-radius: 100px;
    color: #ffffff;
    font-size: 12px;
  }
  .applies .deep p {
    font-size: 10px;
  }

  .about .first__disc {
    flex-direction: column;
    height: 550px;
  }
  .about .sec__disc {
    flex-direction: column;
    width: 400px !important;
  }
  .about .sec__disc p {
    font-size: 5px;
  }

  .ex__apply {
    height: 10vh;
    min-height: 1500px;
    justify-content: space-around;
  }
  .ex__apply .text__apply h2 {
    font-size: 20px;
  }
  .ex__apply .text__apply p {
    font-size: 12px;
  }
  .ex__apply .form__container {
    display: flex;
    width: 75%;
    margin-top: -150px;
  }
  .ex__apply form {
    height: 1200px;
    flex-wrap: nowrap;
  }

  .auto__container {
    min-height: 1400px;
  }
  .auto__container .auto__text h2 {
    font-size: 20px;
  }
  .auto__container .auto__marks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 350px;
  }
  .auto__container .auto__marks .first__list {
    order: 3;
  }
  .auto__container .video__about .video__text {
    margin-top: 100px;
  }
  .auto__container .video__about .video__text h2 {
    font-size: 14px;
  }
  .auto__container .video__about .container {
    margin-top: -50px;
    height: 250px;
    width: 100%;
    border: 5px solid #F2F2F2;
  }
  .auto__container .video__about .container .video {
    background-color: #3B3B3B;
    height: 87%;
    width: 96%;
    margin: 15px auto;
  }

  .clients__about {
    min-height: 1200px;
  }
  .clients__about .clients__text {
    margin-top: 50px;
    font-size: 20px;
  }
  .clients__about .clients__list {
    min-height: 450px;
    margin-bottom: 500px;
  }
  .clients__about .clients__list .client__container .client .img__container img {
    height: 27%;
  }

  .consultation {
    min-height: 600px;
  }
  .consultation .consult__text {
    margin-top: 50px;
  }
  .consultation .consult__text h2 {
    margin: 0;
    font-size: 20px;
  }
  .consultation .consult__text p {
    font-size: 12px;
    font-weight: 500;
  }
  .consultation .order__consult {
    width: 60%;
    margin-bottom: 50px;
  }
  .consultation form {
    flex-direction: column;
    height: 400px;
  }
  .consultation form .inputs {
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-top: 40px;
  }
  .consultation form .inputs .inputs__item {
    width: 70%;
  }
  .consultation form .inputs .inputs__item strong {
    font-size: 14px;
  }
  .consultation form .inputs .inputs__item .input {
    height: 40px;
    width: 100%;
  }
  .consultation form .submit {
    width: 75%;
    height: 50px;
    font-size: 14px;
  }

  .contacts__container .contacts {
    width: 50%;
  }
  .contacts__container .contacts h2 {
    font-size: 20px;
  }
  .contacts__container .contacts .contacts__item {
    font-size: 16px;
  }

  .footer .main__nav {
    width: 70%;
  }
  .footer .main__nav .logo__item {
    display: flex;
    align-items: center;
    margin: 0;
    color: #717171;
    font-size: 20px;
  }
  .footer .main__nav .contacts__item .tel {
    margin-top: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
  }
  .footer .main__nav .contacts__item a {
    margin-top: 2px;
    color: #D91233;
    font-weight: 800;
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
