*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('/img/background.jpg') no-repeat center;
    background-size: cover;
    height: 600px;
    min-height: 300px;
    position: relative;

    .wrap {
        background-color: #202020;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 0;
    }
    
}

@mixin hedEls {
    position: relative;
    display: flex;
    width: 60%;
    height: 15%;
    
}

.main__nav {
    position: relative;
    display: flex;
    width: 60%;
    height: 10vh;
    justify-content: space-between;

   .logo__item {
        display: flex;
        align-items: center;
        margin: 0;
        color: #717171;
        font-size: 25px;
   }

   .contacts__item {
        display: flex;
        height: 30%;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;

       .tel {
        margin-top: 5px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        font-weight: 500;
       }

       a {
           margin-top: 2px;
           color: #D91233;
           font-weight: 700;
           font-size: 12px;
       }
   }
}

.main__header {
   @include hedEls();
   flex-direction: column;
   align-items: center;
  

   h1 {
       margin: 0;
       font-size: 40px;
       text-transform: uppercase;
       font-weight: 600;
   }

   p {
       font-size: 20px;
   }
}

@mixin btn {
    background-color: transparent;
    border: 2px solid #D91233;
    padding: 8px 30px;
    border-radius: 100px;
    color: #ffffff;
    font-size: 18px;
}

$fontWidth: 12px;

.offers {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 50%;
    height: 20%;

    .off__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: $fontWidth;
        }
    }
}

.applies {
    @include hedEls();
    width: 40%;
    align-items: center;
    justify-content: space-around;
    height: 20%;

    .quick {
        display: flex;
        flex-direction: column;
        align-items: center;
       button {
        @include btn();
       }

       p {
        font-size: $fontWidth;
    }
    }

    .deep {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
            @include btn();
           }

        p {
            font-size: $fontWidth;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 300px;

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .first__disc {
            display: flex;
            width: 60%;
            justify-content: space-between;
            margin-top: 60px;

            .fisrt__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                
                h4 {
                    font-size: $fontWidth;
                }
        
                p {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: flex-end;
                    font-size: $fontWidth;
                    margin: 0;
                }
            }
            
        }

        .sec__disc {
            display: flex;
            width: 38%;
            justify-content: space-between;
            margin-top: 70px;

            .sec__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

               
               h4 {
                   font-size: $fontWidth;
               }

                p { 
                    font-size: $fontWidth;
                    margin: 0;

                    #one {
                        padding-left: 25px;  
                    }

                    #two {
                        padding-left: 10px;
                    }

                    #three {
                        padding-left: 10px;
                    }

                    #four {
                        padding-left: 70px;
                    }

                }

                .empty {
                    font-size: $fontWidth;
                    visibility: hidden;
                 }
            }
        }
    }
}

@mixin notBorder {
    border: none;
}

.ex__apply {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background-color: #EBEBEB;
    margin-top: 50px;

    .text__apply {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // margin-top: 50px;
        h2 {
            margin: 0;
            font-size: 30px;
        }

        p {
            font-weight: 500;
            font-size: 14px;
        }
    }

    .form__container {
        display: flex;
        width: 75%;
        margin-top: -150px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 5px solid #ffffff;
        height: 400px;
        width: 100%;

        .items__container {
            height: 100%;
            align-items: center;
        }

        .form__item {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 40px;
            width: 75%;
            margin-left: 50px;
            
            
            strong {
            font-size: 15px;
            font-weight: 500;
            color: #000000;
            }

            select {
                position: relative;
                margin-top: 10px;
                height: 45px;
                color: #C2C2C2;
                width: 100%;
                outline: none;
                appearance: none;
                @include notBorder();
        }

    
            input {
                height: 45px;
                width: 100%;
                margin-top: 10px;
                outline: none;
                @include notBorder();

                &::-webkit-input-placeholder {
                     color: #C2C2C2;
                     padding: 5px;
                }
            }

        
            .details {
                width: 100%;
                resize: none;
                height: 159px;
                margin-top: 11px;
                outline: none;
                @include notBorder();

                &::-webkit-input-placeholder {
                    color: #C2C2C2;
                    padding: 5px; 
                    font-size: 14px;
               }

               &::-moz-input-placeholder {
                color: #C2C2C2;
                padding: 5px;
                font-size: 16px;
    
                }
                 
            }

            .submit {
                height: 60px;
                margin-top: 13px;
                background-color: #D91233;
                @include notBorder();
                border-radius: 100px;
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                outline: none;
            }
        }
    }
}

.auto__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    min-height: 1100px;
    
    .auto__text {
        margin-top: 45px;
        h2 {
            font-size: 30px;
            margin: 0;
        }
    }

    .auto__marks {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 65%;
        height: 350px;
    }

    .video__about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 500px;
        margin-bottom: 45px;

        .video__text {
            h2 {
                font-size: 25px;
            }
        }

        .container {
            margin-top: 20px;
            height: 450px;
            width: 85%;
            border: 5px solid #F2F2F2;

            .video {
                background-color: #3B3B3B;
                height: 93%;
                width: 96%;
                margin: 15px auto;
                
            }
        }
    }
}

.clients__about {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
    height: 100vh;
    min-height: 580px;
    width: 100%;

    .clients__text {
        margin-top: 40px;
        font-size: 23px;
    }

    .clients__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 66%;
        height: 10vh;
        min-height: 340px;
        margin-bottom: 80px;
        

        .client__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            
            .client {
                
                display: flex;
                font-size: 12px;
    
                .img__container {
                    

                    img {
                        margin-top: 15px;
                        width: 90%;
                        height: 55%;
                    }
                }

                .text__container {
                    .full__name {
                        color: #757575;
                        font-size: 11px;
                        font-weight: 700;
                    }

                    .problem {
                        color: #D91233;
                        font-weight: 800;
                    }

                    .descrp {
                        color: #2B2B2B;
                        font-weight: 700;
                    }
                }
            }
        }

    }
}